{# type: warning|danger|success|info #}
<div class="alert alert-{{ label|info }} alert-dismissible fade in md-margin-bottom-10" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
</div>
