<noscript>
    <div class="container">
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">JavaScript is disabled!</h4>
            <p>This site requires JavaScript to be enabled. Please enable it within your browser settings.</p>
            <hr>
            <p class="mb-0">Find out <a href="http://www.enable-javascript.com/" target="_blank">how to enable
                    JavaScript</a> in your browser</p>
        </div>
    </div>
</noscript>
